<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>640913850153-cb79m25sa0b530fc3pi84cgjq0kru1dd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.640913850153-cb79m25sa0b530fc3pi84cgjq0kru1dd</string>
	<key>API_KEY</key>
	<string>AIzaSyApdtLA-WK0CHuYiAiffC5XDTnUMGadSOc</string>
	<key>GCM_SENDER_ID</key>
	<string>640913850153</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myApp</string>
	<key>PROJECT_ID</key>
	<string>mausam-91169</string>
	<key>STORAGE_BUCKET</key>
	<string>mausam-91169.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:640913850153:ios:bc1df6be33c3cd8384c138</string>
</dict>
</plist>